{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [dist_chat]}
]}.

%% EUnit configuration
{eunit_opts, [verbose]}.

%% Test profile with TEST macro defined
{profiles, [
    {test, [
        {erl_opts, [debug_info, {d, 'TEST'}]}
    ]}
]}.

%% Coverage
{cover_enabled, true}.
{cover_opts, [verbose]}.
